<ion-header>
  <ion-navbar>
    <ion-title>
      Ciudades
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <button *ngFor="let ciudad of cities" ion-item (click)="muestraPagina(ciudad.id)">
      {{ciudad.name +' '+ciudad.id}}
    </button >
  </ion-list>
  <button ion-button block (click)="crearCiudad()">Crear ciudad</button>
</ion-content>
