<!--
  Generated template for the DetalleCiudadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ciudad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

  <ion-item>
    <ion-label floating>Nombre de la ciudad ciudad</ion-label>
    <ion-input type="text" [(ngModel)]="city.name"></ion-input>
  </ion-item>
</ion-list>
<button ion-button color="primary" block (click)="createCity()">Guardar</button>
</ion-content>
